<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rptrack.plus">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="com.rptrack.vts.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" /> <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".ApplicationActivity"
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RPTrack"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true">


        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".module.device.SettingsActivity"></activity>
        <activity android:name=".module.geofence.GeofenceListActivity" />
        <activity android:name="com.chase.track.module.geofence.AddGeofenceActivity" />
        <activity android:name=".module.reportUi.ReportActivity" />
        <activity android:name=".module.notifications.AlertsActivity" />
        <activity android:name=".module.commands.CommandsActivity" />
        <activity android:name=".activity.AlertTypesSettingsActivity" />
        <activity android:name=".activity.AlertSettingsActivity" />
        <activity android:name=".module.device.HistoryReplayActivity" />
        <activity android:name=".activity.TrackingActivity" />
        <activity android:name=".module.device.DeviceMetadataActivity" />
        <activity android:name=".module.device.DeviceOptionActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DashboardActivity"
            android:label="@string/app_name" />

        <service android:name=".FirebaseMessaging.FirebaseMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBqbwNNWlpqHZBYDEDmG2A5v4hvZ5Er3g8" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="true" />
    </application>

</manifest>